@model ProyectoEnvios.Models.ClienteCS

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.IdentificacionUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentificacionUsuario)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoUsuario)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Direcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.EdadUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EdadUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDocumento)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreDocumento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idRol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idRol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rol)
        </dd>*@

        @Html.ActionLink("agregarCliente","Trabajador")

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
