@model ProyectoEnvios.Models.EnvioCS

@{
    ViewBag.Title = "Registro de envios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registrar Envio</h2>

@using (Html.BeginForm())
{


    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @if (ViewData["Exito"] != null)
        {
            <div class="alert alert-success" role="alert">
                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                <span class="sr-only">Exito:</span>
                @ViewData["Exito"].ToString()
            </div>
        }
        @if (ViewData["Error"] != null)
        {
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                @ViewData["Error"].ToString() <a href="#">Registre al cliente aqui..</a>
            </div>
        }

        <div class="container-fluid">

            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <div class="form-group">
                        @Html.LabelFor(model => model.idRemitente, htmlAttributes: new { @class = "control-label col-md-5" })
                        <br /><br />
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.idRemitente, new { htmlAttributes = new { @class = "form-control", @placeholder = "Documento de identidad" } })
                            @Html.ValidationMessageFor(model => model.idRemitente, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-5 col-md-offset-1">
                    <div class="form-group">
                        @Html.LabelFor(model => model.idDestinatario, htmlAttributes: new { @class = "control-label col-md-5" })
                        <br /><br />
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.idDestinatario, new { htmlAttributes = new { @class = "form-control", @placeholder = "Documento de identidad" } })
                            @Html.ValidationMessageFor(model => model.idDestinatario, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <div class="form-group">
                        @Html.LabelFor(model => model.origen, htmlAttributes: new { @class = "control-label col-md-5" })
                        <br /><br />
                        <div class="col-md-10">
                            @Html.Action("_ListarCiudades", new { id = 1 })
                            @Html.ValidationMessageFor(model => model.idOrigen, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-5 col-md-offset-1">
                    <div class="form-group">
                        @Html.LabelFor(model => model.destino, htmlAttributes: new { @class = "control-label col-md-5" })
                        <br /><br />
                        <div class="col-md-10">
                            @Html.Action("_ListarCiudades", new { id = 0 })
                            @Html.ValidationMessageFor(model => model.idDestino, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <div class="form-group">
                        @Html.LabelFor(model => model.tipoProducto, htmlAttributes: new { @class = "control-label col-md-5" })
                        <br /><br />
                        <div class="col-md-10">
                            @Html.Action("_ListarProductos")
                            @Html.ValidationMessageFor(model => model.idTipoProducto, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-5 col-md-offset-1">
                    <div class="form-group">
                        @Html.LabelFor(model => model.peso, htmlAttributes: new { @class = "control-label col-md-5" })
                        <br /><br />
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.peso, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.peso, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <div class="form-group">
                        @Html.LabelFor(model => model.direccionDestino, htmlAttributes: new { @class = "control-label col-md-5" })
                        <br /><br />
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.direccionDestino, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.direccionDestino, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-5 col-md-offset-1">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <br /><br />
                            <input type="submit" value="Registrar" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>



        @*<a href="#" data-toggle="modal" data-target="#clienteModal" onclick="buscarRemitente(event)">Consultar Cliente</a>*@

        @*<div class="modal fade" id="clienteModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            @{
                                int a = 1014240882;
                            }
                            @Html.Action("_consultarCliente", new { id = a})
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            @Html.ActionLink("Logout", "Logout", "Usuario", new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>*@

        <hr />

    </div>
}

<div>
    @Html.ActionLink("Volver Atras", "Index")
</div>

