@model IEnumerable<ProyectoEnvios.Models.EnvioCS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h2>Index</h2>
    <br />
    <h4>Bienvenido Mensajero</h4>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idEnvio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.destino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccionDestino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaRecepcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th>
                Acciones
            </th>
        </tr>

        @foreach (var item in Model)
        {
            var fechaEntrega = item.fechaEntrega.ToShortDateString();
            var fechaRecepcion = item.fechaRecepcion.ToShortDateString();
            var estado = item.estado;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idEnvio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.direccionDestino)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.destino)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => fechaRecepcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => fechaEntrega)
                </td>
                @switch (item.estado)
                {
                    case "Entregado":
                        <td class="text-success">
                            @Html.DisplayFor(modelItem => item.estado)
                        </td>
                        break;
                    case "Rechazado":
                        <td class="text-danger">
                            @Html.DisplayFor(modelItem => item.estado)
                        </td>
                        break;
                    default:
                        <td class="text-primary">
                            @Html.DisplayFor(modelItem => item.estado)
                        </td>
                        break;
                }

                <td>
                    <a href="@Url.Action("ConsultaGuia","Envio", new { id = item.idEnvio })" class="btn btn-success" title="Consultar Guia">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </td>

            </tr>
        }

    </table>

</div>
