@model IEnumerable<ProyectoEnvios.Models.ClienteCS>

@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Usuario/Login", false);
    }
}

<h2>Inicio</h2>

<p>
    @Html.ActionLink("Crear nuevo cliente", "agregarCliente")
</p>

@if (ViewData["Exito"] != null)
{
    <div class="text-success">
        <p><strong>Exito: @TempData["Exito"].ToString()</strong></p>
    </div>
}
@if (ViewData["Error"] != null)
{
    <div class="text-danger">
        <p><strong>Error: @TempData["Error"].ToString()</strong></p>
    </div>
}
@ViewBag.Msg
<div class="container">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdentificacionUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EdadUsuario)
            </th>
            <th>
                Acciones
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.NombreUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApellidoUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdentificacionUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreDocumento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EdadUsuario)
                </td>

                <td>
                    @Html.ActionLink("Editar", "editarCliente", new { id = item.IdentificacionUsuario })
                    <a href="#" data-toggle="modal" data-target="#deleteModal">Borrar</a>
                </td>
            </tr>

            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-danger">
                                ¿Esta seguro de eliminar al usuario?
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </h5>
                        </div>
                        <div class="modal-body">Presione "Borrar" si desea eliminar al usuario @item.NombreUsuario @item.ApellidoUsuario</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                            @Html.ActionLink("Borrar", "borrarCliente", new { id = item.IdentificacionUsuario }, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>

        }


    </table>




</div>


@section scripts{
    <script>
        $(".aEliminar").click(function (event) {
            if (!confirm("Esta seguro de eliminar al cliente?")) {
                event.preventDefault();
            }
        });
    </script>

}
