@model IEnumerable<ProyectoEnvios.Models.RolesCS>


@if (ViewData["id"] != null)
{
    <select class="form-control" id="idRol" name="idRol">
        @foreach (var item in Model)
        {
            if (item.idRol == Convert.ToInt32(ViewData["id"].ToString()))
            {
                <option value="@item.idRol" selected>@item.idRol</option>
            }
            else
            {
                <option value="@item.idRol">@item.nombreRol</option>
            }
        }
    </select>
}
else
{
    <select class="form-control" id="idRol" name="idRol">
        <option value="0" selected>Seleccione un Item</option>
        @foreach (var item in Model)
        {
            <option value="@item.idRol">@item.nombreRol</option>
        }
    </select>
}

